body 
{font-family:Arial, sans-serif;
	font-size:13px;
}

/*SEKCJA NA GÓRNY PASEK ssss */
.logowanie a {
	display:inline-block;
	font-family: Arial, sans-serif;
	font-size :13px;
	line-height: 24px;
	float:right;
	padding-right:25px;
}

.gorne {
	font: 13px Arial, sans-serif;
	text-decoration: none;
	color:rgb(102, 102, 102);

}
.gorne:hover {
	text-decoration: underline;
}
.gorne:visited {
	color:rgb(102, 102, 102);
}


#aplikacje {
background-image:url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
width: 30px;
height: 30px;
background-position:-132px -38px;
}
#powiadomienia {
background-image:url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
width: 20px;
height: 20px;
margin:5px;
}
/*SEKCJA NA WYSZUKIWANIE I LOGO */

.glowna {
	margin-left: auto;
	margin-right: auto;
	width:700px;
	padding-top: 150px;
	position:relative;
	clear:both;
}
img {
	display:block;
	margin-left: auto;
	margin-right:auto;
}
#google {
	text-indent:-9999px;
	margin: 0 0;
}

.form p {
	margin:0 auto;
}
.form form {
	text-align: center;
}

center input {
	color:rgb(117, 117, 117);
	margin: 11px 4px;
	padding: 0px 16px;
	font-weight: 700;
	border: 1px solid rgb(242, 242, 242);
	background-color: rgb(242, 242, 242);
	height:36px;
	min-width:54px;
	line-height: 27px;
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1)

}
center input:hover {
	color:#222;
	background-color:#f8f8f8;
	border: solid 1px #c6c6c6;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
}
.wyszukaj {
	border:1px solid rgba(0,0,0,0.16);
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	height:44px;
	padding:1px 1px 1px 1px;
	width: 584px;


}

/* SEKCJA NA FOOTER */

.footer {
	bottom:0px;
	background-color:rgb(242, 242, 242);
	margin:0 auto;
	margin-bottom:0;
	border-top:rgb(228, 228, 228) 1px solid;
	width:100%;
	right:0;
	left:0;
	position:absolute;
	overflow:hidden;

}
 .footer a {
	font: 13px Arial, sans-serif;
	text-decoration: none;
	color:rgb(102, 102, 102);
	padding-left: 27px;
	line-height: 40px;

}
.footer .prawe {
	float:right;
	margin-right:27px;

} 
.footer .lewe {
	float:left;
	}
.footer a:hover {
	text-decoration:underline;
}
.footer a:visited {
	color:rgb(102, 102, 102);
}
